html,
body {
  margin:0;
  padding:0;
  height:100%;
  min-width: 1000px;
}

body {
  background: #303030;
}

body, input, textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
